<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186682096723-p420pvcs41t1na7u2mo7rpuu4i7nh0el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186682096723-p420pvcs41t1na7u2mo7rpuu4i7nh0el</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIT7T6htZS8_Y_ytLZ5wFjKUiNoO8mO4</string>
	<key>GCM_SENDER_ID</key>
	<string>186682096723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onatcipli.networkUpp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-7ff63</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-7ff63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186682096723:ios:84cb9a76f7e1afcd8f5aa6</string>
</dict>
</plist>